<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pig_phantom_gazebo" params="phantom_name">
    
    <!-- open_help_phantom_link-->
    <gazebo reference="pig_phantom_link">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

