<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="laparoscope_transmission" params="hardware_interface laparoscope_name">

    <transmission name="${laparoscope_name}_tran_1">
      <robotNamespace>/${laparoscope_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${laparoscope_name}_joint">
	<hardwareInterface>hardware_interface/${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${laparoscope_name}_motor">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>

