<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="panda"/>

  <rosparam command="load" file="$(find hera_description)/config/panda_zeros.yaml" />


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="60"/>
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <param name="ignore_timestamp" type="bool" value="true"/>
  </node>

</launch>

